<div class="user_panel">
	<div class="logo shadow">
		<h1>gistopio</h1>
		<p><%= current_user.username %></p>
	</div>
	<div class="create_new">
		<a href="#new_modal"><div class="add_box shadow">+</div></a>
	</div>
</div>


