<div class="user_view">
	<div class="large-2 columns">
		<div class="username">
			<%= params[:username] %>
		</div>
	</div>
	<div class="large-10 columns">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 posts">
		<% @posts.each do |post| %>
			<li>
				<div class="post">
					<div class="post_header clearfix">
						<h3 class="left"><i class="fa fa-pencil-square"></i><%= link_to post.title, post_path(post) %></h3>
						<div class="right">
							<% if post.public_status %>
								<i class="fa fa-unlock"></i>
							<% else %>
								<i class="fa fa-lock"></i>
							<% end %>
							<% if post.sync_status %>
								<i class="fa fa-github"></i>
							<% end %>
						</div>
					</div>
					<div class="post_content"><%= markdown(post.body) %></div>
					<div class="post_footer">
						<ul>
						<% post.tags.each do |tag| %>
							<li><i class="fa fa-tag"></i><%= link_to tag.name, "/posts/tags/#{tag.name}" %></li>
						<% end %>
						</ul>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div>